.tabs dd {
	pposition: relative;
	margin-bottom: 0 !important;
	top: 1px;
	float: left;
	width: 7rem;
}
.accordion dd > a:hover {
	background: rgb(125, 125, 125);
}
.small-block-grid-5 > li a:active{
	background-color: white;
}
.button-group > * > button, .button-group > * .button {
	border-right: 1px solid;
	border-color: rgba(255, 255, 255, 0.5);
}