.tabs dd {
	pposition: relative;
	margin-bottom: 0 !important;
	top: 1px;
	float: left;
	width: 7rem;
}
.accordion dd > a:hover {
	background: rgb(125, 125, 125);
}

/*______index_______*/
.deviceSelect {
	font-family: "ubuntu-mono",sans-serif;
	width: 55px;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	display: block;
	margin-bottom: 0;
}
.small-block-grid-5 > li a:active{
	background-color: white;
}
.onOff{
	width: 138px;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	display: block;
	margin-bottom: 0;
}
.ctrl-tg-ml {
	width: 250px;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	display: block;
	margin-bottom: .5rem;

}


/*************tv guide page***************/
.medialib {
	width: 320px;
}

.medialib dd {
pposition: relative;
margin-bottom: 0 !important;
top: 1px;
float: left;
width: 6rem;
}